html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ribbonStok{
  border: 1px solid #56A085;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0 3px;
}

.ribbonStokLimited{
  border: 1px solid #B85512;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0 3px;
}

.estimate{
  background-color: #D4EDDA;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0 3px;

}

.discountContainer{
  display: flex;
  flex-direction: row;
}

.discount{
  background-color: red;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0 5px;

}

.stickyBottom{
  position: absolute;
  bottom: 0;
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-orange {
  @apply bg-orange-500 text-white;
}
.btn-orange:hover {
  @apply bg-orange-700;
}
