.header{
    padding: 5px;
    background-color: white;
    border-bottom: 1px solid #cecece;
}
.logo{
    height:  75px;
}

.containerScroll{
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
}